:root {
    --base-brown: #3b1b0c;
    --base-blue: #81d4f1;
    --base-grey: #d1d3df;
    --base-grey-dark: #a9aab4;
    --base-blue-dark: #69b5d1;
    --danger-red: rgb(207, 82, 82);
    --danger-red-dark: rgb(177, 70, 70);
}

html body {
    background-color: #d1d3df;
}

/* image header */
div.image-header-block{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 125px;
    background-image: url("/images/BaseCamp_HeaderFeature_2.jpg")
}
/* ---- */

/* basic button */
button {
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: var(--base-blue);
    color: white;
}

button:hover {
    background-color: var(--base-blue-dark);
}
/* ---- */

.hidden {
    display: none;
}

/* basic input */
input, textarea {
    /* display: block; */
    border: none;

}

input:not(:placeholder-shown):invalid, textarea:not(:placeholder-shown):invalid {
    border-bottom: 1px solid red;
}

input:focus,
textarea:focus {
    border-bottom: 2px solid var(--base-brown);
}

input:not(:placeholder-shown):invalid:focus, textarea:not(:placeholder-shown):invalid:focus {
    border-bottom: 2px solid red;
}

:invalid {
    box-shadow: none;
}

:-moz-submit-invalid {
    box-shadow: none;
}

:-moz-ui-invalid {
    box-shadow: none;
}

input, textarea {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid var(--base-brown);
    width: 250px;
    resize: none;
}

input[type="radio"] {
    width: 30px;
}

/* ---- */

/* navbar */
.custom-navbar {
    background-color: var(--base-brown);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    /* position: fixed; */
    width: 100%;
    top:0;
    z-index: 2;
}

.custom-navbar li a {
    text-decoration: none;
    color: #ffffff;
}

.custom-navbar li a:hover {
    text-decoration: none;
    color: #aaaaaa;
}

.custom-navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.custom-navbar ul li {
    display: inline-block;
    margin-right: 5px;
}

/* ---- */

/* basic card */

.bcca-card {
    margin: 20px auto;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 2px rgb(179, 179, 179);
}

/* ---- */

/* detail-box */
.detail-box {
    border-left: 3px solid var(--base-blue);
    border-radius: 4px;
    padding: 4px;
    margin-top: 10px;
    padding-left: 10px;
}

.detail-box .detail-title {
    font-size: 1.1rem;
    font-weight: 600;
    position: relative;
    top: -1rem;
}

.detail-header {
    margin-bottom: 15px;
    display: flex;
}

.detail-header .detail-name {
    font-size: 1.5rem;
    margin: 0;
    margin-left: 5px;
    padding: 5px;
}

.detail-box p {
    margin: 0;
    position: relative;
    top: -10px;
}
/* ---- */

/* comment box */
.create-comment-box, .comment-box {
    border: 3px solid var(--base-grey);
    border-radius: 5px;
    padding-left: 5px;
    margin-top: 10px; 
    margin-bottom: 10px;
}



.comment-box-title,
.create-comment-box textarea {
    border: none;
    width: 90%;
    height: 2.5rem;
    border-bottom: 1.5px solid var(--base-brown);
    resize: none;
    
}

.create-comment-box button {
    padding: .5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--base-blue);
    color: white;
    font-weight: 600;
}

.create-comment-box button:hover {
    background-color: var(--base-blue-dark);
}

.comment-box button {
    margin-bottom: 10px;
    display: block;
    border: 1px solid var(--danger-red);
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: var(--danger-red);
}

.comment-box button:hover{
    background-color: var(--danger-red-dark); 
}

.comment-title {
    font-size: 1.05rem;
    font-weight: 600;
}

.comments-header {
    margin-top: 10px;
    font-size: 1.1rem;
}

/* ---- */

/* danger-zone */
    .danger-zone{
        border: 2px solid var(--danger-red);
        border-radius: 5px;
        padding: 1rem;
    }

    .danger-zone button{
        display: block;
        border: 1px solid var(--danger-red);
        border-radius: 5px;
        padding: 5px;
        color: white;
        background-color: var(--danger-red);
    }

    .danger-zone button:hover{
        background-color: var(--danger-red-dark);
    }
/* ---- */

/* filtering */

button.filter-btn {
    border: none;
    width: 100px;
    display: block;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: var(--base-blue);
    color: white;
    margin: 0 auto;
}

button.filter-btn:hover{
    background-color: var(--base-blue-dark);
}

.filter-form {
    border: 1px solid var(--base-grey);
    border-radius: 5px;
    padding: .5rem;
}

/* ---- */

/* job box */

.job-box-title {
    text-align: center;
    font-size: 1.1rem;
    color: var(--base-blue-dark);
}
a.job-box-link {
    text-decoration: none;
    color: black;
    padding: 0;
    padding-right: 5px;
}

.view-img{
    height: fill;
    margin-bottom: 3px;
}


div.job-box{
    padding: 3px;
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid var(--base-grey-dark);
    border-radius: 5px;
}

div.job-container {
    padding: 3px;
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

div.job-box p {
    padding-left:5px;
}

div.job-box-img {
    padding: 0px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
    height: 100px;
}

div.job-box-img img {
    width: 100%;
    height: fit-content;
    
}

/* ---- */

/* create page inputs */
    div.create-inputs label {
        margin-bottom: 0;
        font-size: 1.1rem;
        text-align: right;
    }

    div.create-inputs input, div.create-inputs textarea {
        margin-left: 7px;
    }

    div.create-inputs div {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
/* ---- */

/* small details */
    .small-detail{
        display: inline-block;
        margin-bottom: 10%;
    }
/* ---- */

/* top-chart */
div.top-chart{
    border: 1px solid var(--base-grey-dark);
    border-radius: 5px;
    padding: 10px;
    position: relative;
}

div.job-row{
    width: 100%;
    position: relative;
}

div.chart-bar{
    background-color: var(--base-blue);
    position: absolute;
    z-index: 0;
    padding: 6px;
    width: 0%;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid black;
}

div.job-row{
    width: 100%;
    
}

.job-name-bubble, .job-views-bubble{
    margin: 6px;
    z-index: 1;
    display: inline-block;
    background-color: var(--base-grey);
    padding-left:5px;
    padding-right:5px;
    border-radius: 7px;

}

.job-views-bubble {
    margin-left: 3px;
}

.top-chart a {
    text-decoration: none;
    color: black;
}
/* ---- */
