<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    {{#detail}}
        <p>{{name}}</p>
        <p>{{address}}</p>
        <p>{{position}}</p> 
        <p>Comments</p>

        {{#comments}}
            <p>{{title}}</p>
        {{/comments}}
        
        <p>Comment</p>
    
        <form action="/admin/jobs/{{id}}" method="post">
            <label for="title">Title: </label>
            <br />
            <input name="title" type="text">
            <br />
            <label for="description">Description</label>
            <br />
            <textarea name="description"rows="1"></textarea>
            <br />
            <button type="submit">Submit</button>
        </form>
    {{/detail}}

   
    
</body>
</html>
