<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
        <link rel="stylesheet" href="/bootstrap/bootstrap.css" />
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <nav class="custom-navbar">
            <div class="container">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="text-white">
                        |
                    </li>
                    <li>
                        <a href="/admin">Back</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="image-header-block"></div>
        <div class="container">
            <div class="bcca-card">
                {{#detail}}
                <div class="detail-header row pl-2">
                    <div class="detail-name col-12">{{ name }}</div>
                </div>
                <div class="detail-body row">
                    <div class="detail-body-section col-12">
                        <div class="detail-box">
                            <p class="detail-title">Address</p>
                            <p class="detail-body">{{ address }}</p>
                        </div>

                        <div class="detail-box">
                            <p class="detail-title">Position</p>
                            <p class="detail-body">{{ position }}</p>
                        </div>

                        <div class="detail-box">
                            <p class="detail-title">Description</p>
                            <p class="detail-body">{{ description }}</p>
                        </div>
                        <div class="detail-box">
                            <p class="detail-title">Benefits</p>
                            <p class="detail-body">{{ benefits }}</p>
                        </div>
                    </div>
                </div>

                <p class="comments-header">Comment</p>
                <div class="create-comment-box col-lg-7 col-md-9 col-sm-12">
                    <form action="/admin/{{ id }}" method="POST">
                        <input
                            class="comment-box-title"
                            name="title"
                            type="text"
                            placeholder="Title"
                        />
                        <textarea
                            name="description"
                            rows="1"
                            placeholder="Description"
                        ></textarea>
                        <br />
                        <button class="comment-btn" type="submit">
                            Submit
                        </button>
                    </form>
                </div>

                {{#comments}}
                <div class="comment-box col-lg-7 col-md-9 col-sm-12">
                    <p class="comment-title">{{ title }}</p>
                    <p>{{ description }}</p>
                    <form action="/admin/{{ comment_id }}/comment-delete" method="GET">
                        <button>Delete</button>
                    </form>
                    
                </div>
                {{/comments}}

                <div class="danger-zone col-lg-7 col-md-9 col-sm-12">
                    <form action="/admin/{{ id }}/delete" method="GET">
                        <button>Delete Post</button>
                        <small>*This will remove this post forever</small>
                    </form>
                </div>
                {{/detail}}
            </div>
        </div>
        <script src="/js/index.js"></script>
    </body>
</html>
