<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>BCCA Job Posting</title>

        <link rel="stylesheet" href="/bootstrap/bootstrap.css" />
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <nav class="custom-navbar">
            <div class="container">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="bcca-card">
                <form action="create" method="POST">
                    <div class="pb-2 create-inputs">
                        <div class="row">
                            <label class="col-2" for="name">Name: </label>
                            <input type="text" name="name" required />
                        </div>

                        <div class="row">
                            <label class="col-2" for="address">Address: </label>
                            <input type="text" name="address" required />
                        </div>

                        <div class="row">
                            <label class="col-2" for="position">Position: </label>
                            <input type="text" name="position" required />
                        </div>

                        <div class="row">
                            <label class="col-2" for="description">Description: </label>
                            <textarea
                                name="description"
                                id=""
                                cols="30"
                                rows="1"
                                required
                            ></textarea>
                        </div>

                        <div class="row">
                            <label class="col-2" for="benefits">Benefits: </label>
                            <input type="text" name="benefits" required />
                        </div>

                        <div class="row">
                            <label class="col-2" for="applyUrl">Url: </label>
                            <input type="text" name="applyUrl" required />
                        </div>

                        <div class="row">
                            <label class="col-2" for="imageUrl">Logo:</label>
                            <input
                                type="file"
                                name="imageFile"
                                onchange="previewFile()"
                                id="imageFileInput"
                            />
                            <input
                                class="hidden"
                                type="text"
                                name="imageUrl"
                                id="imageUrl"
                            />
                        </div>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>

        <script>
            function previewFile() {
                var imgUrl = document.querySelector("#imageUrl");
                var file = document.querySelector("input[type=file]").files[0];
                var reader = new FileReader();

                reader.onloadend = function() {
                    imgUrl.value = reader.result;
                };

                if (file) {
                    reader.readAsDataURL(file);
                } else {
                    preview.src = "";
                }
            }

            // imageInput.addEventListener("change", function() {
            //     var file = document.querySelector("input[type=file]").files[0];
            //     var reader = new FileReader();

            //     reader.addEventListener(
            //         "load",
            //         function() {
            //             console.log(reader.result);
            //         },
            //         false
            //     );

            //     if (file) {
            //         reader.readAsDataURL(file);
            //     }
            // });
        </script>
    </body>
</html>
