<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
        <link rel="stylesheet" href="/bootstrap/bootstrap.css" />
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <nav class="custom-navbar">
            <div class="container">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                </ul>
            </div>
        </nav>
        {{#detail}}
        <p>{{ name }}</p>
        <img src="{{ imageUrl }}" alt="" srcset="" width="100" height="100" />
        <p>{{ address }}</p>
        <p>{{ position }}</p>
        <p>Comments</p>
        {{ #comments }}
        <p>{{ title }}</p>
        {{ /comments }}
        {{/detail}}
    </body>
</html>
