<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>BCCA Jobs</title>
        <link rel="stylesheet" href="/bootstrap/bootstrap.css" />
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <nav class="custom-navbar">
            <div class="container">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="image-header-block"></div>
        <div class="container">
            <div class="bcca-card">
                <div>
                    
                    <form class="filter-form" action="/jobs" method="POST">
                        <div class="row">
                                <p class="col-sm-12 col-md-3 col-lg-3">
                                    <input
                                        id="sortNewToOld"
                                        class="sortBy"
                                        type="radio"
                                        name="sortBy"
                                        value="newToOld"
                                        checked
                                    />
                                    <label for="sortNewToOld"> Newest-Oldest</label>
                                </p>
                                <p class="col-sm-12 col-md-3 col-lg-3">
                                    <input
                                        id="sortOldToNew"
                                        class="sortBy"
                                        type="radio"
                                        name="sortBy"
                                        value="oldToNew"
                                    />
                                    <label for="sortOldToNew">Oldest-Newest</label>
                                    
                                </p>
                                <p class="col-sm-12 col-md-3 col-lg-3">
                                    <input
                                        id="sortA-Z"
                                        class="sortBy"
                                        type="radio"
                                        name="sortBy"
                                        value="a-z"
                                    />
                                    <label for="sortA-Z">A-Z</label>
                                    
                                </p>
                                <p class="col-sm-12 col-md-3 col-lg-3">
                                    <input
                                        id="sortZ-A"
                                        class="sortBy"
                                        type="radio"
                                        name="sortBy"
                                        value="z-a"
                                    />
                                    <label for="sortZ-A">Z-A </label>
                                    
                                </p>
                            </div>
                            
                        <button class="filter-btn" type="submit">Apply</button>
                    </form>
                </div>
                <div>
                    <input type="search" class="searchBar" placeholder="Search">
                </div>
                <div class="job-container row justify-content-between">
                    {{#jobs}}
                    <a
                        class="job-box-link add-view-counter col-lg-4 col-md-6 col-sm-11"
                        href="/jobs/{{ id }}"
                    >
                        <div class="job-box row">
                            <p class="job-box-title col-12">{{ name }}</p>
                            <div class="job-box-img col-lg-4 col-md-4 col-sm-5">
                                
                                <img
                                    src="{{ imageUrl }}"
                                    onerror="this.src = '/images/no-image.png'"
                                    alt=""
                                    width="100"
                                    height="100"
                                />
                            </div>
                            <div class="col-6">
                                <small class="small-detail">{{ formattedTime }}</small>
                                <br />
                                <small class="small-detail">({{ formattedDate }})</small>

                                <br />
                                <small class="small-detail">
                                    <img
                                        class="view-img"
                                        src="/images/eye.png"
                                        alt="views"
                                        height="10"
                                    />
                                    {{ views }}
                                </small>
                            </div>
                            <p class="job-box-position col-12">Position: {{ position }}</p>
                            <p class="col-12">Location: {{ address }}</p>
                        </div>
                    </a>
                    {{/jobs}}
                    {{^jobs}}
                    <p>No current jobs</p>
                    {{/jobs}}
                </div>
            </div>
        </div>
        <script src="/js/index.js"></script>
    </body>
</html>
